extends partials/layout

block content
    

    include pageelements/header

    include pageelements/headercidade

    div.collapse#collapseMap
        div#map.map
            iframe(width="600", frameborder="0", style="border:0;height:450px;margin-top:510px;", src="https://www.google.com/maps/embed/v1/place?q=#{docs.nomeCidade.replace(' ', '%20')}-%20#{docs.sigla}%2C%20Brasil&zoom=10&key=AIzaSyDMhw6VD8Yp0CekQoezYdl3JQkz0agJv1g")

    div.container.margin_60
        div.row
            div.col-md-8#single_tour_desc
                div#single_tour_feat
                    ul
                        li
                            i.icon_set_1_icon-4
                            | Museus
                        li
                            i.icon_set_1_icon-4
                            | Museus
                        li
                            i.icon_set_1_icon-4
                            | Museus
                        li
                            i.icon_set_1_icon-4
                            | Museus
                        li
                            i.icon_set_1_icon-4
                            | Museus
                        li
                            i.icon_set_1_icon-4
                            | Museus
                        li
                            i.icon_set_1_icon-4
                            | Museus

                p.visible-sm.visible-xs
                    a.btn_map(data-toggle="collapse", href="#collapseMap", aria-expanded="false", aria-controls="collapseMap") Ver no Mapa
                
            aside.col-md-4
                p.hidden-sm.hidden-xs
                    a.btn_map(data-toggle="collapse", href="#collapseMap", aria-expanded="false", aria-controls="collapseMap") Ver no Mapa

        div.row
            div.col-md-3
                h3 Descrição
            div.col-md-9
                h4 #{docs.headline}
                p #{docs.descricao}

        div.row
            div.col-md-3
                h3 Conhecido por
                hr
                ul.list_ok
                    for conhecida in docs.conhecidaPor
                        li #{conhecida}
                
            div.col-md-9.margin_60
                div.row
                    div.col-md-6
                        div.box_style_4
                            i.icon_set_1_icon-82
                            h4
                                | Moradores 
                                span amam 
                                | porque
                            p #{docs.amam}

                    div.col-md-6
                        div.box_style_4
                            i.icon_set_1_icon-19
                            h4
                                | Moradores 
                                span reclamam 
                                | porque
                            p #{docs.reclamam}


    div.white_bg
        div.container.margin_60
            div.main_title
                p #{docs.frase1}
            div.row.magnific-gallery.add_bottom_60
                div.col-sm-12.text-center
                    a(href="#{docs.imagem1}", title="titulo da foto")
                        img.img-responsive.styled(src="#{docs.imagem1}")
                div.col-sm-6
                    a(href="#{docs.imagem2}", title="titulo da foto")
                        img.img-responsive.styled(src="#{docs.imagem2}")
                div.col-sm-6
                    a(href="#{docs.imagem3}", title="titulo da foto")
                        img.img-responsive.styled(src="#{docs.imagem3}")
    if(docs.bairros[0] != undefined)
        div.container.margin_60
            div.main_title
                h2 Bairros em 
                    span Destaque
                p #{docs.nomeCidade} é uma cidade grande com muitos bairros. Qual deles é o ideal para você?

            div.row
                div.col-md-4.col-sm-6.wow.zoomIn(data-wow-delay="0.1s")
                    div.tour_container
                        div.img_container
                            a(href="#")
                                img.img-responsive(src="/images/004.jpg")
                                div.ribbon.top_rated
                                div.short_info
                                    i.icon_set_1_icon-24
                                    | Parques
                                    span.price
                                        sup 9
                                        | /10

                        div.tour_title
                            h3
                                strong Santa 
                                |Lúcia
                            div.rating
                                i.icon-smile.voted
                                i.icon-smile.voted
                                i.icon-smile.voted
                                i.icon-smile.voted
                                i.icon-smile
                                small (10)
                            div.wishlist
                                a.tooltip_flip.tooltip-effect-1(href="javascript:void(0);") +
                                    span.tooltip-content-flip
                                        span.tooltip-back Lista de Favoritos

                div.col-md-4.col-sm-6.wow.zoomIn(data-wow-delay="0.1s")
                    div.tour_container
                        div.img_container
                            a(href="#")
                                img.img-responsive(src="/images/004.jpg")
                                div.ribbon.top_rated
                                div.short_info
                                    i.icon_set_1_icon-24
                                    | Parques
                                    span.price
                                        sup 9
                                        | /10

                        div.tour_title
                            h3
                                strong Santa 
                                |Lúcia
                            div.rating
                                i.icon-smile.voted
                                i.icon-smile.voted
                                i.icon-smile.voted
                                i.icon-smile.voted
                                i.icon-smile
                                small (10)
                            div.wishlist
                                a.tooltip_flip.tooltip-effect-1(href="javascript:void(0);") +
                                    span.tooltip-content-flip
                                        span.tooltip-back Lista de Favoritos

                div.col-md-4.col-sm-6.wow.zoomIn(data-wow-delay="0.1s")
                    div.tour_container
                        div.img_container
                            a(href="#")
                                img.img-responsive(src="/images/004.jpg")
                                div.ribbon.top_rated
                                div.short_info
                                    i.icon_set_1_icon-24
                                    | Parques
                                    span.price
                                        sup 9
                                        | /10

                        div.tour_title
                            h3
                                strong Santa 
                                |Lúcia
                            div.rating
                                i.icon-smile.voted
                                i.icon-smile.voted
                                i.icon-smile.voted
                                i.icon-smile.voted
                                i.icon-smile
                                small (10)
                            div.wishlist
                                a.tooltip_flip.tooltip-effect-1(href="javascript:void(0);") +
                                    span.tooltip-content-flip
                                        span.tooltip-back Lista de Favoritos

    div.container.margin_60
        div.main_title
            h2 Boas 
                span razões 
                | para morar aqui
        div.row
            for features in docs.razoes
                div.col-md-6.wow.fadeIn(data-wow-delay="0.1s")
                    div.feature
                        <i class="#{features.iconerazao}"></i>
                        h3
                            span #{features.razao} 
                            | 
                        p #{features.descricaorazao} 

    if(docs.outrosBairros != undefined)
        div.white_bg
            div.container.margin_60
                div.main_title
                    h2 Outros 
                        span bairros 
                        | interessantes
                    p Recomendamos conferir também os seguintes destinos

                div.row.add_bottom_45
                    div.col-md-4.other_tours
                        ul
                            li
                                a(href="#")
                                    i.icon_set_1_icon-3 
                                    | Divinópolis
                                    span.other_tours_price 6/10
                            li
                                a(href="#")
                                    i.icon_set_1_icon-3 
                                    | Divinópolis
                                    span.other_tours_price 6/10
                            li
                                a(href="#")
                                    i.icon_set_1_icon-3 
                                    | Divinópolis
                                    span.other_tours_price 6/10

                    div.col-md-4.other_tours
                        ul
                            li
                                a(href="#")
                                    i.icon_set_1_icon-3 
                                    | Divinópolis
                                    span.other_tours_price 6/10
                            li
                                a(href="#")
                                    i.icon_set_1_icon-3 
                                    | Divinópolis
                                    span.other_tours_price 6/10
                            li
                                a(href="#")
                                    i.icon_set_1_icon-3 
                                    | Divinópolis
                                    span.other_tours_price 6/10
                    div.col-md-4.other_tours
                        ul
                            li
                                a(href="#")
                                    i.icon_set_1_icon-3 
                                    | Divinópolis
                                    span.other_tours_price 6/10
                            li
                                a(href="#")
                                    i.icon_set_1_icon-3 
                                    | Divinópolis
                                    span.other_tours_price 6/10
                            li
                                a(href="#")
                                    i.icon_set_1_icon-3 
                                    | Divinópolis
                                    span.other_tours_price 6/10
                
    include pageelements/footer	