extends partials/layout

block content
    

    include pageelements/header

    div(style="padding-top:120px;background-color:#373737")
    div.white_bg
        div.container.margin_60
            div.main_title
                h2 Painel 
                    span Guia Benvenuto 
                    | de Cidades e Bairros
                p Aqui colocamos mais bairros e cidades!
            div.row
                div.col-md-12
                    a.btn_1.outline(href="/novaCidade", style="margin-right:10px;") Nova Cidade
                    a.btn_1(href="/novoBairro") Novo Bairro
            hr
    div.container.margin_60
        div.row
            div.col-md-12
                h2 Últimos Bairros Adicionados

                table.table.table-stripped
                    thead
                        tr
                            th Bairro
                            th Cidade
                            th Adicionado por
                            th Data Adicionada
                            th Status
                    tbody
                        tr
                            for neib in bairros
                                td #{neib.nomeBairro}
                                td #{neib.nomeCidade}
                                td #{neib.publicadoPor}
                                td #{neib.date}
                                td #{neib.status}

        hr
        div.row
            div.col-md-12
                h2 Últimas Cidades Adicionados

                table.table.table-stripped
                    thead
                        tr
                            th Cidade
                            th Adicionado por
                            th Data Adicionada
                            th Status
                    tbody
                        tr
                            for city in cidades
                                td #{city.nomeCidade}
                                td #{city.publicadoPor}
                                td #{city.date}
                                td #{city.status}
                
                


    include pageelements/footer	